.singel-cart {
    background-color: rgb(12, 74, 74);
    width: 300px;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    color: lightcoral;
    border-radius: 5px;

}

.singel-item {
    display: flex;

}

.singel-cart img {
    margin-left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

.remove-btn {
    width: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}